body {
    font-family: Roboto, sans-serif; 
    color:#434455;
    background-color: #FFF;
}
a {
    text-decoration: none;
}
ul {
   list-style-type: none; 
}


/*________HEADER____________*/

  .title {
background: #FFF; 
  }

  .logo {
        color:#4d5ae5;
        font-family: Raleway, sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;

  }
  .studio-logo {
        color: #2e2f42;
        font-family: Raleway, sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;

  }
  .title-list-item {
        color: #2e2f42;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
  }
  .title-list-item:hover, 
  .title-list-item:focus {
      color: #404bbf;
  }
  .address-style {
      font-style: normal; 
  }

  .address_link {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .address_link:hover,
  .address_link:focus {
      color: #404bbf;
  }
 
  
  /*sections*/
  .section_type {
      background-color:#2e2f42;
  }
  .main-phrase {
        color: #FFF;
        background: #2E2F42;
        text-align: center;
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 0.02em;
  }
  .button-style {
        color: #ffffff;
        background-color: #4D5AE5;
        font-family: Roboto, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        cursor: pointer;

  }
  .button-style:hover,
  .button-style:focus {
       background-color: #404BBF;
  }
  .mainhtext {

  }
  .h-text {
        color: #2E2F42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;

  }
  .parts-texts {
        color:#434455;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
  }

  /*teams section*/

  .team_section_description {
     background-color: #F4F4FD;
  }
  .team-text {
        color: #2E2F42;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
  }
  .list_description {
        background-color: #FFFFFF;
  }
  .photo {
    background: url(<path-to-image>), lightgray -97.034px -0.927px / 181.897% 251.37% no-repeat;
  }

  .name-text {
        color:#2E2F42;
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
  }
  .ptext {
    color: #434455;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
  }
  .footer_description {
        background-color: #2e2f42;
  }

   .logo {
         color: #4d5ae5;
         font-family: Raleway, sans-serif;
         font-size: 18px;
         font-weight: 700;
         line-height: 1.17;
         letter-spacing: 0.03em;
         text-transform: uppercase;

   }
   .studio-logo-footer {
         color: #f4f4fd;
         font-family: Raleway, sans-serif;
         font-size: 18px;
         font-weight: 700;
         line-height: 1.17;
         letter-spacing: 0.03em;
         text-transform: uppercase;
      }
  
    .pfooter {
        color:#F4F4FD;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
  }